.countdown {
  display: flex;
  justify-content: space-around;
  font-family: lato, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  > div {
    text-align: center;
  }
  p {
    @extend .pill;
  }
  label {
    font-family: adorn-bouquet, sans-serif;
    font-size: 24px;
  }
}
