.countdown {
  display: flex;
  justify-content: space-around;
  color: $white;
  > div {
    text-align: center;
  }
  .value {
    @extend .pill;
    color: $green;
  }
  label {
    font-family: adorn-bouquet, sans-serif;
    font-size: 24px;
  }
}
