.footer {
  background-color: $dark-blue;
  color: white;
  margin-bottom: 0;
  @extend .shadow;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  svg {
    height: 24px;
    color: white;
    padding-bottom: 0;
  }
  .logo svg {
    padding-top: 2px;
  }
  .icons svg {
    margin-left: 8px;
  }
}
