.home-header {
  .logo svg {
    width: 136px !important;
    height: 136px !important;
  }
}
.event-buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  button.tabor {
    margin-left: 16px;
  }
}
