@import url('https://use.typekit.net/srn8psy.css');

$white: #fff;
$black: #010823;
$yellow: #e4b254;
$green: #3b906c;
$orange: #ee7858;
$blue: #56a3a0;
$dark-blue: #313a5c;

body {
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-blue;
}

.adorn {
  font-family: adorn-bouquet, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

h1 {
  @extend .adorn;
  font-family: adorn-bouquet, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  line-height: 72px;
  margin: 0;
  text-align: center;
}
h2,
.csakis-font {
  font-family: lato, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24pt;
  text-align: center;
}

h3 {
  font-family: lato, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20pt;
}

p {
  font-family: lato, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16pt;
}

.section {
  box-shadow: $dark-blue 1px 4px 9px;
  padding: 32px 16px 32px 16px;
  align-content: center;
  //remeber to remove later/refactor
  background-color: $green;
}

.pill {
  background-color: $white;
  border-radius: 128px;
  padding: 8px 32px;
}

button {
  box-shadow: 0 4px 16px rgba(59, 58, 92, 0.3), 0 8px 24px rgba(59, 58, 92, 0.2);
  border: none;
  @extend p, .pill;
}

@import './countdown.scss';
@import './bios.scss';
@import './nav.scss';
