@import url('https://use.typekit.net/srn8psy.css');

$white: #fff;
$black: #010823;
$yellow: #e4b254;
$green: #3b906c;
$orange: #ee7858;
$blue: #56a3a0;
$dark-blue: #313a5c;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adorn {
  font-family: adorn-bouquet, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

h1 {
  @extend .adorn;
  font-family: adorn-bouquet, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  line-height: 72px;
}
h2,
.csakis-font {
  font-family: lato, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24pt;
}

h3 {
  font-family: lato, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20pt;
}

p {
  font-family: lato, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16pt;
}

.section {
  box-shadow: $dark-blue 1px 4px 9px;
}

.pill {
  border-radius: 128px;
  font-family: lato, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  padding: 10px 50px;
}

button {
  //box-shadow: $dark-blue 1px 4px 9px;
  box-shadow: 0 4px 15px rgba(59, 58, 92, 0.3),
    0 11px 23px rgba(59, 58, 92, 0.2);
  border: none;
  @extend .pill;
}
