.location .content-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  svg {
    .cls-1 {
      fill: $light-blue;
    }
    width: 92px;
    height: 124px;
    padding-right: 8px;
  }

  .content {
    width: 60%;
    margin-right: 0;
  }
}
