.nav-toggle {
  position: fixed;
  right: 8px;
  top: 8px;
  font-size: 32px;
  svg {
    width: 32px;
    height: 32px;
  }
  .x path {
    fill: $white;
  }
}

.nav {
  position: fixed;
  width: 40%;
  height: 100%;
  background: $dark-blue;
  color: $white;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 16px rgba(59, 58, 92, 0.3), 0 8px 24px rgba(59, 58, 92, 0.2);
  a {
    padding: 16px;
    color: $white;
    text-decoration: none;
    @extend p;
  }
  // Animation
  transform: translateX(100%);
  &.open {
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(0);
  }
  @extend .shadow;
}
