@media screen and (min-width: 768px) {
  h2 {
    font-size: 32pt;
  }
  h3 {
    font-size: 24pt;
    font-weight: 400;
  }
  h4,
  p {
    font-size: 18pt;
  }
  .home-header {
    .logo svg {
      height: 300px !important;
      width: 300px !important;
    }
  }
  button.tabor,
  button.delutan {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 45px;
    padding: 16px 36px 16px 36px;
  }
  .home-header {
    .section {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .album {
    margin-top: 16px;
    .carousel li img {
      height: 250px;
    }
  }
  .event-card {
    margin: 16px;
    .event-title {
      font-size: 56px;
    }
    .content {
      padding: 24px;
    }
    .logo {
      padding-left: 24px;
      padding-right: 24px;
      h1 {
        font-size: 48px;
        line-height: 32px;
      }
      svg {
        width: 148px;
        height: 140px;
      }
    }
    button {
      margin-top: 16px;
      font-size: 24px !important;
    }
  }
  .footer {
    padding: 24px;
    svg {
      height: 48px;
    }
  }
}
