.bios {
  display: flex;
  flex-direction: column;
  align-items: center;
  .bio {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    img {
      align-self: center;
      margin: 8px;
      border: $white 8px solid;
    }
  }
  .bold {
    font-weight: bolder;
  }
  img {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
  }
}
