.image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 16px;
  img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    @extend .shadow;
  }
}
.details strong {
  font-weight: 700;
}
