.home-header {
  .logo svg {
    width: 136px !important;
    height: 136px !important;
  }
}
.event-buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  button.tabor {
    margin-left: 16px;
  }
}

.event-card .logo {
  svg {
    height: 75px;
  }
  h1 {
    text-align: center;
  }
}
a.survey {
  text-decoration: none;
  margin-top: 32px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.survey button {
  text-decoration: none;
  background-color: #e4b254;
  min-width: 300px;
  text-decoration: none;
}

button {
  cursor: pointer;
}
